.project-body-wrapper {
  width: 20rem;
  margin: 1vh 0 1vh 0;
  /* border: 2px solid; */
}

.project-header {
  text-align: center;
  background-color: #edbbb4;
  padding: 2vh 0 2vh 0;
}
.project-header a {
  color: #4f759b;
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  transition: font-size 0.3s;
  text-decoration: underline;
}
.project-header a:hover {
  color: #c7edf7;
  font-size: 1.23rem;
}

.project-picture {
  border: 5px solid #edbbb4;
  width: 20rem;
  height: 20rem;
  background-size: 80%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-color: #fff;
}
.project-picture::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 20rem;
  height: 20rem;
  margin-top: 3rem;
  margin-left: 3rem;
  background-color: #edbbb4;
  clip-path: polygon(
    30% 0%,
    100% 0,
    100% 30%,
    100% 84%,
    84% 100%,
    30% 100%,
    0 100%,
    0 0
  );
}
.project-details {
  text-align: center;
  background-color: #edbbb4;
  padding: 1vh 1vw 0vh 1vw;
  font-family: "Merriweather", serif;
  font-size: 14px;
}

.Project-icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #edbbb4;
}

@media screen and (max-width: 425px) {
  .tyler-wrapper {
    padding-top: 1vh;
    padding-bottom: 10vh;
    margin: -5vh 0vw 0 0vw;
    overflow-y: hidden;
  }

  .home-icons_projects {
    display: none;
  }

  .project-picture::after {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .project-body-wrapper {
    width: 50vw;
    margin: 1vh 0 1vh 0;
    /* border: 2px solid; */
  }
  .project-picture {
    width: 50vw;
    background-size: 40%;
  }
  .github-container {
    /* border: 2px solid black; */
    padding: 1vh 1vw 1vh 1vw;
    display: flex;
    justify-content: space-between;
  }
  .Project-icon {
    transition: transform 0.3s;
  }
  .Project-icon:hover {
    transform: scale(1.05);
  }
}
