.project-body-wrapper {
  width: 20vw;
  border: 3px solid #edbbb4;
  border-radius: 2%;
  margin: 1vh 0 1vh 0;
}

.project-header {
  text-align: center;
  font-size: 0.8rem;
  background-color: #78e3fd;
  padding: 2vh 0 2vh 0;
  font-family: "Merriweather", serif;
}

.project-picture {
  /* border: 2px solid blue; */
  padding: 10vh 0 10vh 0;
  background-size: 70%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}
.project-details {
  text-align: center;
  /* border: 2px solid red; */
  padding: 1vh 0 20vh 0;
}

@media screen and (max-width: 1060px) {
  .project-body-wrapper {
    width: 40vw;
    border: 3px solid #edbbb4;
    border-radius: 2%;
  }
}
