.button-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vh;
  transition: transform 0.5s;
  width: 18rem;
  max-height: 230px;
  background-repeat: no-repeat;
  background-size: cover;
  /* border: 1px solid black; */
}
.Button-name {
  position: absolute;
  color: #edbbb4;
  font-size: calc(10px + 3vmin);
  font-family: "Merriweather", serif;
  margin-top: 4.5vh;
  /* border: 1px solid black; */
}
.Button-image {
  /* position: absolute; */
  max-width: 100%;
  /* margin-top: 8vh; */
  /* border: 1px solid black; */
}
.Résumé {
  /* border: 1px solid black; */
}

.button-wrapper:hover {
  transform: scale(1.1);
}

.button-wrapper h1:hover {
  color: #e64a36;
}
