.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  transition: transform 0.5s;
  padding-bottom: 10vh;
  width: 18rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.button-wrapper h1 {
  color: #edbbb4;
  font-size: calc(10px + 3vmin);
  font-family: "Merriweather", serif;
}
.glasses {
  background-image: url("../../Assets/myglasses.png");
  background-position-y: -3vh;
}
.laptop {
  background-image: url("../../Assets/laptopcode.png");
  background-position-y: -6vh;
}
.resume {
  background-image: url("../../Assets/resume.png");
  background-size: 85%;
  background-position-y: 0vh;
  background-position-x: 1.5vw;
}
.button-wrapper:hover {
  transform: scale(1.1);
}

.button-wrapper h1:hover {
  color: #e64a36;
}
