.About-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.About-page-title {
  font-family: "Merriweather", serif;
  margin: 15vh 0 0 0;
  animation: fade-in 0.8s ease-in forwards;
  color: var(--sub-color);
}
.About-photo-container {
  width: 80vw;
  padding: 5rem 0 15rem 0;
  background-image: url("../../Assets/megoofin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5vh;
  animation: slide-on-up 0.5s ease-in forwards;
}
.About-photo-container::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 75vw;
  height: 70vw;
  margin-left: 3rem;
  background-color: #78e3fd;
}

.About-page-details {
  margin-top: 10vh;
  padding: 5vh;
  background-color: #edbbb4;
  width: 90vw;
  font-family: "Merriweather", serif;
  line-height: 2em;
  color: #000;
}
.About-details-top {
  padding-bottom: 5vh;
}
