.about-page-wrapper {
  background-color: #e7eef6;
  width: 100vw;
  height: 100vh;
}
.about-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100vw;
  background-color: #353535;
  animation: fall-down 1s forwards;
}
.about-page-header h1 {
  color: #e7eef6;
  font-family: "Pacifico", cursive;
  font-size: 72px;
  margin-top: 8rem;
}

@keyframes fall-down {
  0% {
    height: 1rem;
  }
  100% {
    height: 15rem;
  }
}

.about-page-contents-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;
  height: 40rem;
}
.about-page-contents {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  width: 60vw;
}

.me-photo {
  width: 50%;
  height: 70%;
  margin: 0 auto;
  background-image: url("../Assets/megoofin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
