.about-me-info {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid green; */
  width: 100vw;
  margin-top: 2vh;
  animation: fade-in 0.8s ease-in forwards;
}
.photo-container {
  width: 14vw;
  padding: 5vh 0 20vh 0;
  /* border: 2px solid blue; */
  background-image: url("../Assets/megoofin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 10vw 0 0;
}

.about-me-details {
  /* border: 2px solid yellow; */
  width: 40vw;
  font-family: "Merriweather", serif;
  line-height: 2em;
  color: #131515;
}
.top-details {
  padding-bottom: 2vh;
}

@media screen and (max-width: 425px) {
  .about-me-details {
    width: 90vw;
    margin: 2vh;
    text-align: center;
  }

  .about-me-info {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .photo-container {
    width: 50vw;
    margin: 1vh 0 1vh 25vw;
  }
}
