.project-page-wrapper {
  height: 200vh;
  width: 100vw;
  background-color: #e7eef6;
}

.project-page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 1rem;
  background-color: #353535;
  font-family: "Pacifico", cursive;
  animation: fall-down 1s forwards;
}
.project-page-header h1 {
  color: #e7eef6;
  font-size: 72px;
  margin-top: 10rem;
}

@keyframes fall-down {
  0% {
    height: 1rem;
  }
  100% {
    height: 20rem;
  }
}

/**
|--------------------------------------------------
| Mid page
|--------------------------------------------------
*/

.project-preamble {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 15rem;
  padding: 3rem 2rem 0 2rem;
  text-align: center;
  animation: fade-in 0.8s ease forwards 0.4s;
}

.project-preamble h2 {
  font-size: 20px;
  color: #353535;
  font-family: "Playfair Display", serif;
}
.project-preamble a {
  color: #73877b;
  text-decoration: none;
  transition: color 0.3s ease;
}
.project-preamble a:hover {
  color: #bdd2a6;
  animation: underline 0.5s ease;
  text-decoration: underline;
}

@keyframes underline {
  0% {
    text-decoration-color: transparent;
  }
  100% {
    text-decoration-color: #bdd2a6;
  }
}

@keyframes fade-in {
  0% {
    padding: 15rem 2rem 0 2rem;
    opacity: 0;
  }
  100% {
    padding: 3rem 2rem 0 2rem;
    opacity: 1;
  }
}

/**
|--------------------------------------------------
| Mid page
|--------------------------------------------------
*/

/**
|--------------------------------------------------
| Projects
|--------------------------------------------------
*/

.projects-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid blue; */
  height: 30rem;
  flex-wrap: wrap;
  opacity: 0;
  animation: fade-in 0.8s ease forwards 1s;
  margin-bottom: 10rem;
}
.placeholder-project {
  /* border: 2px solid red; */
  width: 50rem;
}

/**
|--------------------------------------------------
| Projects
|--------------------------------------------------
*/
