* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.HomePage-wrapper {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-color: #f3f6fa;
}
.name-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #131515;
  padding-top: 40vh;
  animation: slide-up 1s ease-in-out forwards 5s;
  -webkit-box-shadow: 0px 7px 11px -2px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 7px 11px -2px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 7px 11px -2px rgba(0, 0, 0, 0.13);
}

@keyframes slide-up {
  0% {
    height: 100vh;
    padding-top: 40vh;
  }
  100% {
    height: 10vh;
    padding-top: 3vh;
  }
}

.home-icons {
  opacity: 0;
  display: flex;
  flex-direction: row-reverse;
  width: 0rem;
  margin-left: 1vw;
  margin-top: -5px;
  animation: open 0.5s ease-in forwards 5.5s;
}
@keyframes open {
  0% {
    width: 0rem;
  }
  100% {
    width: 10rem;
    opacity: 1;
  }
}

.icon {
  transition: transform 0.3s;
}
.icon:hover {
  transform: scale(1.1);
  filter: contrast(200%);
}
