* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/**
|--------------------------------------------------
| For sliding colored boxes
|--------------------------------------------------
*/
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  position: relative;
}

.left-div {
  margin: 0;
  width: 50%;
  height: 100vh;
  background-color: #e7eef6;
  animation: slide-down 1s ease-out;
}
.right-div {
  margin: 0;
  width: 50%;
  height: 100vh;
  background-color: #e7eef6;
  animation: slide-up 1s ease-out;
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-150%);
  }
  100% {
    t-webkit-transform: translateY(0%);
  }
}
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(150%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
/**
|--------------------------------------------------
| For sliding colored boxes
|--------------------------------------------------
*/

/**
|--------------------------------------------------
| For name and fade in animation
|--------------------------------------------------
*/
.name-title-container {
  opacity: 0;
  z-index: 3;
  top: 50%;
  width: 100%;
  position: absolute;
  text-align: center;
  transform: translateY(-200%);
  -webkit-animation: fade-in 1.1s forwards, slide-left 1s forwards; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 1.1s, 2.3s; /* Safari 4.0 - 8.0 */
  animation: fade-in 1.1s forwards, slide-left 1s forwards;
  animation-delay: 1.1s, 2.3s;
}
@keyframes fade-in {
  0% {
    top: 10%;
    opacity: 0;
  }
  100% {
    top: 30%;
    opacity: 1;
  }
}
/* animation slide-left only plays on large screens */
@media only screen and (min-width: 620px) {
  @keyframes slide-left {
    0% {
      right: 0%;
    }
    100% {
      right: 30%;
    }
  }
}
/* animation fade-in plays differently on smaller screens */
@media only screen and (max-width: 620px) {
  @keyframes fade-in {
    0% {
      top: 20%;
      opacity: 0;
    }
    100% {
      top: 55%;
      opacity: 1;
    }
  }
}

.name-header {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 72px;
  text-shadow: 1px 2px 2px #283d3b;
  color: #fbfdfd;
  text-decoration: none;
  /* border-bottom: 5px solid black; */
}
/**
|--------------------------------------------------
| For name and fade in animation
|--------------------------------------------------
*/
/**
|--------------------------------------------------
| For subtitle name animation
|--------------------------------------------------
*/
.subname-container {
  width: 20rem;
  height: 40rem;
  margin: 14rem 0rem 0rem 9rem;
}
@media only screen and (max-width: 620px) {
  .subname-container {
    margin: 13rem 0rem 0rem 4rem;
  }
}

.subname-container h3 {
  opacity: 0;
  color: #4f759b;
  font-size: 26px;
  font-family: monospace;
  animation: type 2.5s steps(20) forwards;
  animation-delay: 3s;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid black;
  width: 18ch;
  /* border: 2px solid black; */
  right: 90;
}
@keyframes type {
  0% {
    opacity: 1;
    width: 0ch;
  }
  100% {
    opacity: 1;
    width: 18ch;
    border-right: 4px solid rgba(0, 0, 0, 0);
  }
}
/**
|--------------------------------------------------
| For subtitle name animation
|--------------------------------------------------
*/
/**
|--------------------------------------------------
| For nav links
|--------------------------------------------------
*/
.nav-links {
  opacity: 0;
  margin: 0rem 0rem 0rem 0rem;
  width: 15rem;
  -webkit-animation: fade-in 1.1s forwards; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 4s; /* Safari 4.0 - 8.0 */
  animation: fade-in 1.1s forwards;
  animation-delay: 4s;
  /* border: 2px solid black; */
}
.nav-links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
@media only screen and (max-width: 620px) {
  .nav-links {
    margin: 0rem 0rem 0rem 1rem;
  }
}

.icon-link {
  transition: transform 0.3s;
}
.icon-link:hover {
  transform: scale(1.1);
}
