* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/**
|--------------------------------------------------
| For sliding colored boxes
|--------------------------------------------------
*/
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
}

.left-div {
  width: 50%;
  height: 100vh;
  background-color: #a9c2de;
  animation: slide-down 2.5s ease-in-out;
}
.right-div {
  width: 50%;
  height: 100vh;
  background-color: #b8cde4;
  animation: slide-up 2.5s ease-in-out;
}

@keyframes slide-down {
  0% {
    -webkit-transform: translateY(-150%);
  }
  100% {
    t-webkit-transform: translateY(0%);
  }
}
@keyframes slide-up {
  0% {
    -webkit-transform: translateY(150%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
/**
|--------------------------------------------------
| For sliding colored boxes
|--------------------------------------------------
*/
.name-title-container {
  opacity: 0;
  z-index: 3;
  top: 50%;
  width: 100%;
  position: absolute;
  /* border: 2px solid black; */
  text-align: center;
  transform: translateY(-50%);
  -webkit-animation: fade-in 1.1s forwards; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  animation: fade-in 1.1s forwards;
  animation-delay: 2s;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.name-header {
  font-family: "IBM Plex Serif", serif;
  font-weight: 900;
  font-size: 72px;
  color: #14181c;
}
